/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font-family), system-ui, -apple-system, Roboto,
    sans-serif;
  font-variation-settings: "wght" var(--main-wght);
  font-size: 18px;
  background-color: #fff;
  background-image: var(--background);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.block-style {
  inline-size: var(--main-inline-size);
  background-color: #fff;
  border: var(--border);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-block: 128px;
  margin-block: 100px;
  font-family: var(--accent-font-family), sans-serif;
  text-transform: uppercase;
}

.header_title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header_subtitle {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.card {
  margin-block-end: 50px;
}

.cadr_title {
  border-block-end: var(--border);
  font-variation-settings: "wght" var(--title-wght);
  font-size: 18px;
  line-height: 1em;
  padding: 6px 10px;
}

.label {
  font-family: var(--accent-font-family), sans-serif;
  font-size: 14px;
  position: absolute;
  inset-block-start: 25px;
  inset-inline-end: 25px;
  mix-blend-mode: hard-light;
  text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
  letter-spacing: 0.1em;
}

@supports (text-stroke: 0.05em #fff) or (-webkit-text-stroke: 0.05em #fff) {
  .label {
    text-stroke: 0.05em #fff;
    -webkit-text-stroke: 0.03em #fff;
    text-shadow: none;
  }
}

.card_image {
  block-size: clamp(23.438rem, 30.329vw + 16.329rem, 43.625rem);
  overflow: hidden;
  border-block-end: var(--border);
  position: relative;
}

.image {
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
}

.card__texts {
  padding: 25px;
}

.card__text {
  margin-block-end: 25px;
}

/* СТИЛИ СЕРДЕЧКА */
.like-icon {
  inline-size: 100%;
  block-size: 100%;
}

.card__icon-button {
  block-size: 38px;
  border: 2px solid transparent;
}

/* АНИМАЦИЯ СЕРДЕЧКА */

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  transition: border 0.3s ease;
  border: var(--border);
}

.sparks {
  opacity: 0;
}

.core {
  fill: transparent;
  transition: fill 0.3s linear 0.5s;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear 0.5s;
}

.contour {
  transition: fill 0.3s linear 0.6s;
}

.like-icon:hover .core {
  fill: var(--main-color);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--main-color);
  transition: fill 0.3s linear;
}

.like-icon:active .core {
  fill: var(--accent-color);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--accent-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .core {
  fill: var(--accent-color);
}

.like-icon.is-liked .main-body {
  fill: var(--accent-color);
}

.like-icon.is-liked .contour {
  fill: var(--accent-color);
}

.like-icon.is-liked .sparks {
  animation: opacity_sparks 0.3s ease-in 0.3s;
}

@keyframes scales {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.25);
  }
}

@keyframes opacity_sparks {
  to {
    opacity: 1;
  }
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: scales 0.3s ease-in;
}

/* СТИЛИ И АНИМАЦИИ КНОПОК LIKE и SAVE */
.button__text {
  font-family: var(--accent-font-family), sans-serif;
  font-size: 14px;
}

.button {
  position: relative;
  cursor: pointer;
  inline-size: 100%;
  block-size: 100%;
  background-color: #fff;
  color: var(--main-color);
}

.button svg,
.button .button__text {
  position: relative;
  z-index: 2;
  mix-blend-mode: difference;
}

.button .button__text {
  color: #fff;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--main-color);
  transition: box-shadow 0.5s ease-in-out;
}

.button::after {
  content: " ";
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: var(--main-color);
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
}

.button:hover::after {
  transform: scaleX(1);
}

.button__block {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
}

.card__like-button {
  border: var(--border);
  inline-size: 130px;
  block-size: 38px;
}

.floppy {
  inline-size: 21px;
  block-size: 21px;
}

.save {
  inline-size: clamp(19.125rem, 2.723vw + 18.487rem, 20.938rem);
  block-size: 55px;
  margin-inline: clamp(2.188rem, 13.615vw - 1.004rem, 11.25rem);
  margin-block-end: 105px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

/* СТИЛИ ДИАЛОГА */
.save__dialog {
  inline-size: clamp(21.313rem, 1.127vw + 21.048rem, 22.063rem);
  block-size: 191px;
}

.save__dialog::backdrop {
  background-color: var(--main-color);
  opacity: 0.75;
}

.save__dialog[open] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-inline: 30px;
}

.dialog__text {
  display: grid;
  grid-template-columns: 40px 1fr;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-transform: uppercase;
  line-height: 1.5em;
}

.dialog__floppy {
  display: block;
  inline-size: 39px;
  block-size: 39px;
  mix-blend-mode: difference;
}

.save__dialog-button {
  border: var(--border);
  inline-size: 100%;
  block-size: 38px;
}

.button__dialog-text {
  text-align: center;
  line-height: 0.9em;
}

/* ФИЛЬТРЫ */
.sepia-saturate {
  filter: sepia(0.5) saturate(2.5);
}

.blure {
  filter: blur(5px);
}

.grayscale {
  filter: grayscale(0.5);
}

.brightness {
  filter: brightness(2);
}

.hue_rotate {
  filter: hue-rotate(175deg);
}

.invert {
  filter: invert(1);
}

.sepia-contrast {
  filter: sepia(0.5) contrast(1.2);
}

@media (width <= 376px) {
  :root {
    --main-inline-size: 100%;
  }

  .header {
    margin-block-start: 100px;
  }

  .save {
    block-size: 84px;
    margin-block-end: 100px;
  }

  .save__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }

  .floppy {
    inline-size: 28px;
    block-size: 28px;
  }

  .save__dialog-button {
    block-size: 38px;
  }
}
